// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#left-column {
  float: left;
  width: 40%;
             height: 460px;
  text-align: right;
  line-height: 22px;
}

#right-column {
  float: right;
  width: 60%;
  height: 460px;
  padding-left: 20px;
}
