#left-column {
    float: left;
    width: 40%;
    height: 460px;
    text-align: right;
    line-height: 22px
}

#right-column {
    float: right;
    width: 60%;
    height: 460px;
    padding-left: 20px
}
